.login__bg {
  width: 100%;
  height: 650px;
  padding-top: 40px;
  background-color: rgb(233, 233, 233);
}

.login__container {
  width: 365px;
  height: 500px;
  background-color: white;
  margin: 50px auto 0 auto;
  border-radius: 9px;
  box-shadow: 0px 10px 60px rgba(46, 46, 46, 0.15);
}

.logo {
  width: 300px;
  height: 150px;
}

.input__Title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 20px auto 7px 50px;
}
.input {
  width: 260px;
  height: 25px;
  border-radius: 4px;
  border: solid 0.5px rgb(204, 204, 204);
  box-shadow: 0px 3.5px 10px rgba(68, 68, 68, 0.055);
}

.btn {
  margin: 50px auto 0 auto;
  width: 80px;
  height: 35px;
  border: none;
  box-shadow: 0px 4.5px 10px rgba(46, 46, 46, 0.15);
}
